@media screen and (min-width: 1400px) {
	.wy-nav-content {
		height: auto;
		max-width: 100%;
	}
}

html, body {
	height: 100%;
	overflow: hidden;
}

.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td {
	vertical-align: top;
}

.wy-nav-content .document {
	max-width: 1000px;
}

.wy-menu-vertical p.caption {
	color: #FFF;
	border-bottom: 1px solid #444;
	border-top: 1px solid #444;
	margin: 4px 0;
    height: 33px;
    font-weight: normal;
    background: #444;
}

.wy-menu-vertical p.caption:first-child {
	margin-top: -6px;
	border-top: 0;
}

.rst-content tt, .rst-content tt, .rst-content code {
	white-space: normal;
}

.rst-content .line-block {
	margin-left: 0;
	line-height: 24px;
}

.rst-content dl dt {
	margin-bottom: 5px;
	line-height: 24px;
}

.wy-nav-content-wrap {
	height: 100%;
	overflow: auto;
	padding-bottom: 60px;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.wy-menu-vertical {
	top: 60px;
	position: relative;
}

.wy-side-nav-search {
	margin-top: 42px;
        display:none;
}

.wy-body-for-nav {
	padding-top: 0px;
}

.wy-side-nav-search .icon, .wy-side-nav-search .version {
	display: none;
}

.wy-side-nav-search input[type=text] {
	border: 1px solid #ddd;
}

.wy-side-nav-search {
	background: transparent;
	position: fixed;
	background: #343131;
	padding-bottom: 10px;
	border-bottom: 1px solid #5D5D5D;
}

header .links__icon {
	cursor: pointer;
	display: none;
	float: right;
	font-size: 20px;
	padding: 0 20px;
	right: -15px;
	position: relative;
}

.wy-nav-top {
	background: #F5F5F5;
	padding: 0 10px;
	color: #222;
	border-bottom: 1px solid #ccc;
}

.wy-nav-top a {
	color: inherit;
}

.wy-nav-top i {
	color: #999;
	font-size: 20px;
	top: 14px;
	left: 5px;
	position: relative;
}

header {
	height: 60px;
	line-height: 60px;
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
}

header .header__container {
	line-height: 60px;
	color: #fff;
	background: #0072c6;
	padding: 0 15px;
	overflow: hidden;
}

header .header__logo img {
	top: -1px;
	position: relative;
}

header .header__logo {
	float: left;
}

header .header__links {
	float: right;
	padding: 0;
}

header .header__links li {
	float: left;
	display: block;
}

header .header__links li a.active {
	color: #FEE882;
}

header .header__links li a {
	font-size: 15px;
	padding: 0 1em;
	color: inherit;
}

@media (max-width: 768px){
	header .links__icon {
		display: block;
	}
	.wy-side-nav-search {
		position: relative;
	}
	.wy-menu-vertical {
		top: 0;
	}
	header .header__logo img {
		width: 176px;
	}
	header .header__links {
		display: none;
		width: 100%;
		line-height: 40px;
		padding-bottom: 10px;
	}
	header .header__links li {
		float: none;
	}
	header .header__links li a {
		display: block;
		padding-left: 0;
	}
	img {
		max-width: 100%;
		width: auto;
	}
}

/* Fix */
.wy-breadcrumbs li.wy-breadcrumbs-aside {
        display:none;
}

.wy-menu-vertical a,
.wy-menu-vertical a:link {
        text-decoration : none;
        color:#b3b3b3 !important;
}

.wy-menu-vertical a:hover,
.wy-menu-vertical a:focus,
.wy-menu-vertical a:active {
        color: #fff !important;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a,
.wy-menu-vertical li.current a {
    color: #404040 !important;
}
.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current > a:hover, .wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.on a:focus, .wy-menu-vertical li.current > a:focus, .wy-menu-vertical li.current a:focus,
.wy-menu-vertical li.on a:active, .wy-menu-vertical li.current > a:active .wy-menu-vertical li.current a:active {
    color: #303030 !important;
}

.wy-menu-vertical {
        font-size: 100% !important;
}